doctype html
html
  head
    title This is a test
    link(rel="stylesheet", href="libs/normalize.css/normalize.css")
    link(rel="stylesheet", href="css/main.css")
  body
    header
    script(src='js/main.js')
      
                                                                                                                                                                              
